.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: var(--color-light-yellow);
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -10px 0 10px; 
}

.modal-header h2 {
  margin: 0px;
}

.modal-header .close-button {
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-dark-brown);
}

.close-button:hover {
  color: var(--color-brown);
}

.sentence-label {
  display: block; 
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--color-dark-brown);
}

.pinyin-audio-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.pinyin-label {
  font-weight: 600;
  margin-right: 5px;
  color: var(--color-dark-brown);
}

.pinyin-field {
  flex: 1;
  padding: 5px;
  font-size: 14px;
}

.play-button {
  padding: 5px 10px;
  cursor: pointer;
}

.play-button svg {
  font-size: 16px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.modal-buttons button {
  background-color: var(--color-yellow);
  color: var(--color-brown);
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid var(--color-brown);
  font-weight: 600;
  border-radius: 15px;
}