.side-menu-container {
  position: relative;
  display: flex;
}

/* Side Menu */
.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  transition: width 0.3s;
  background-color: var(--color-light-yellow);
}

.side-menu.collapsed {
  width: 0px;
}

/* Side Menu List */
.side-menu h2 {
  margin: 0;
  color: var(--color-dark-brown);
}

.sentence-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow-y: auto;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  width: 100%;
}

.side-menu li {
  padding: 10px; 
  border-radius: 20px;
  cursor: pointer;
  color: var(--color-brown);
  box-sizing: border-box;
  white-space: nowrap;
}

.side-menu li:hover {
  color: var(--color-yellow);
  background-color: var(--color-brown);
}

/* Add Sentence Button */
.add-sentence-btn {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  background-color: var(--color-yellow);
  color: var(--color-brown);
  border: none;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.add-sentence-btn:hover {
  background-color: var(--color-dark-yellow);
  color: var(--color-white);
}

.toggle-btn-outside {
  position: absolute;
  right: -20px;
  top: 25px; 
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--color-brown);
  background: var(--color-on-primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  z-index: 1;
}
