.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 90px); 
}

.home-container {
  text-align: center;
  padding: 30px;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-brown);
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5rem;
  color: var(--color-dark-brown); 
}
